@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #0a0106;
  --background: #fef2f8;
  --primary: #be123c;
  --secondary: #85f2a9;
  --accent: #5ac7ee;
}

body {
  font-family: "League Spartan";
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--background);
}

header {
  position: sticky;
  top: 30px;
  border-radius: 1rem;
  margin: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  z-index: 20;
  filter: drop-shadow(0px 1px 6px #000000b9);
}

/* sign up form */
.main-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90dvh;
  width: 100%;
}

.form-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  gap: 3rem;
  border-radius: 1rem;
}

.left-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}

.right-form {
  max-width: 500px;
  padding: 2rem;
  width: 100%;
}

.form-inputs input{
  background-color: var(--background);
  padding: 0 1rem;
  height: 40px;
  border-radius: 0.5rem;
  border: 1px solid var(--primary);
  outline: 0;
  &:focus {
    border: 2px solid grey;
  }
}

.form-inputs label {
  font-weight: 500;
}

.right-form h2{
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.btn {
  background-color: #5ac6ee56;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  width: 10em;
  border-radius: 1rem;
  color: var(--primary);
  font-weight: 600;
  cursor: pointer;
}

btn:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.btn:hover:not(:disabled) {
  background: var(--primary);
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

btn:disabled {
  cursor: auto;
  color: grey;
}

/* google btn */
/* From uiverse.io by @alshahwan */
/* From uiverse.io by @alshahwan */
.google-btn {
  background-color: #fff;
  border: 1px solid #0077b5;
  padding: 5px;
  position: relative;
  width: auto;
  height: 2em;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
  margin-top: 1.5rem;
}

.google-btn p {
  position: absolute;
  top: 0.4em;
  left: 1.2em;
  margin: 0;
  padding: 0;
  transition: .5s;
  color: #0077b5;
}

.google-btn svg {
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: #fff
}

.google-btn:hover p {
  left: 0.6em;
  color: #fff
}

.google-btn:hover svg {
  opacity: 1;
}

.google-btn:hover {
  background-color: #0077b5;
}


.error {
  color: var(--primary);
  background-color: #ff1f5734;
  margin-top: 0.7rem;
  text-align: center;
  /* padding: 0.8rem; */
  border-radius: 0.4rem;
  font-weight: 600;
}

/* footer section */
footer {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  border: 1px solid var(--text);
  margin: 1rem;
}

.main-footer-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

hr {
  height: 3px;
  width: 70%;
  background-color: #0a0106;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-items {
    flex-wrap: wrap;
    gap: 0;
  }
  .main-item {
    height: auto;
  }
  header {
    margin: 0;
    border-radius: 0;
    top: 0;
  }
}

