@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #0a0106;
  --background: #fef2f8;
  --primary: #be123c;
  --secondary: #85f2a9;
  --accent: #5ac7ee;
}

body {
  font-family: "League Spartan";
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--background);
}

header {
  position: sticky;
  top: 30px;
  border-radius: 1rem;
  margin: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  z-index: 20;
  filter: drop-shadow(0px 1px 6px #000000b9);
}

/* sign up form */
.main-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80dvh;
  width: 100%;
}

.form-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  border-radius: 1rem;
}

.left-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}

.right-form {
  max-width: 500px;
  padding: 2rem;
  width: 100%;
}

.form-inputs input{
  background-color: var(--background);
  padding: 0 1rem;
  height: 40px;
  border-radius: 0.5rem;
  border: 1px solid var(--primary);
  outline: 0;
  &:focus {
    border: 2px solid grey;
  }
}

.form-inputs label {
  font-weight: 500;
}

.right-form h2{
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.btn {
  background-color: #5ac6ee56;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  width: 10em;
  border-radius: 1rem;
  color: var(--primary);
  font-weight: 600;
  cursor: pointer;
}

btn:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.btn:hover:not(:disabled) {
  background: var(--primary);
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

btn:disabled {
  cursor: auto;
  color: grey;
}



@media (max-width: 768px) {
  .btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-items {
    flex-wrap: wrap;
    gap: 0;
  }
  .main-item {
    height: auto;
  }
  header {
    margin: 0;
    border-radius: 0;
    top: 0;
  }
}

